
// Fonts
$georgia : Georgia, Times, "Times New Roman", serif;
$myriad-pro: "myriad-pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$myriad-pro-cond: "myriad-pro-condensed", "Arial Narrow", Arial, Helvetica, sans-serif;
