
/* Make views labels bold by default */
.views-label {
  font-weight: bold;
}

/* Exceptions to the rule */
.view-container,
.view-name-recorded-composed,
.view-name-recorded-recordings,
.view-label-recordings-taxonomy,
.view-more-like-this--recording {
  .views-label-field-artist-real-name {
    font-weight: normal;
  }
}

.views-field-title {
  @extend %serif-font;
}

.view-content > h3 {
  margin-bottom: 0;
}

.view-content ul {
  padding: 0 0 0 20px;
  &.slides {
    padding: 0;
  }
}
