.view-container {
  .view-content {
    line-height: 1.2em;
    > div {
      margin-left: 19px;
      margin-bottom: 0.4em;
    }
    > h3 {
      margin-bottom: 0.3em;
    }
  }
  .views-field-field-track-number {
    padding: 0 5px;
    margin-left: -19px;
  }
  .no-track-number {
    font-size: 1.3em;
  }
}
