.l-navigation {
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;
  background: #313131;
  border-bottom: none;
  max-width: 100%;
  padding: 4px 0;
  .primary-links {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 40px;
  }
}
