.ui-widget {
  @extend %sans-serif-font;
}

// Revert values provided by JQuery stylesheets to the theme defaults.
.ui-widget-content {
  a, a:visited {
    color: $link-color;
  }
  a:hover, a:focus, a:active {
    color: #222;
  }
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-bottom {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
