@import "susy";
@import "partials/utility/**/*";
/**
 * Page layouts using Panels and Susy grid.
 */
#panels-dnd .panel-pane { /* Fix broken Panels UI. */
  word-break: break-word;
}
.l-region,
.footer-column { /* Page container elements */
  @include container;
  max-width: 940px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
